# Standard
numpy
matplotlib
seaborn
pandas

# Code quality
mypy
pytest
flake8
brunette

# Learning libraries
# pytorch >= 1.8.0
torch >= 1.8.0
pytorch-lightning == 1.3.4

# Optimization
cvxpy
cvxpylayers
gurobipy

# Geometry
shapely