# Standard
numpy
matplotlib
seaborn
pandas

# Code quality
mypy
pytest
flake8
black

# Learning libraries
pytorch-lightning >= 1.2.0
torch >= 1.8.0

# Optimization
casadi >= 3.5.0
qpth >= 0.0.15
cvxpy >= 1.1.11